.searchContent {
    max-width: 600px;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;  
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
  }
  
  .scrollArea {
    flex: 1;     
    overflow-y: auto;     
    overflow-x: hidden;
    min-height: 0; /* Flexboxの子要素が正しく伸びるようにする */
  }

  .loading,
.error {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #888;
}
  