.content {
    display: flex;
    flex-direction: column;
    max-width: 480px;
  }
  
  /* ロゴとテキスト */
  .iconLogo {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    border-radius: 10%;
  }
  .headerText {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 2rem;
  }
  .joinText {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  .buttonContainer {
    margin-bottom: 1rem;
  }
  
  /* 区切り線 */
  .divider {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 0.5rem 0;
    color: rgb(113, 118, 123);
  }
  .dividerLine {
    flex-grow: 1;
    height: 1px;
    background-color: rgb(47, 51, 54);
    margin: 0 0.5rem;
  }
  
  /* その他のボタン */
  .createAccountButton,
  .loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .createAccountButton {
    background-color: #000000;
    color: #fff;
    border-color: #000000;
  }
  .createAccountButton:hover {
    background-color: #505050;
  }
  
  .loginButton {
    background-color: transparent;
    color: #000000;
    border-color: rgb(0, 0, 0);
    font-weight: 600;
  }
  .loginButton:hover {
    background-color: rgba(107, 107, 107, 0.1);
  }
  
  /* テキスト */
  .smallText {
    font-size: 0.7rem;
    color: rgb(113, 118, 123);
    width: 300px;
  }
  .termsText a {
    color: #1d9bf0;
    text-decoration: none;
  }
  .termsText a:hover {
    text-decoration: underline;
  }
  
  /* ログインプロンプト */
  .loginPrompt {
    margin-top: 2.5rem;
  }
  .loginPromptText {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }